<h1>Log In</h1>



<%= form_tag(sessions_path, method: :post, local: true) do %>
  
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= text_field_tag :email, params[:email], id: 'email',  class: "mdl-textfield__input"  %>
    <label class="mdl-textfield__label" for="email">E-Mail</label>
  </div>


  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= password_field_tag :password, '', id: 'password', class: "mdl-textfield__input"  %>
    <label class="mdl-textfield__label" for="password">Password</label>
  </div>
  
  
  <%= submit_tag "Login", class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>

<% end %>
