// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

main {
  width: 1000px;
  margin: 10px auto;
}

.text-decoration-none {
  text-decoration: none;
}

.color-white,
:link.color-white,
:visited.color-white {
  color: white;
}

.color-inherit,
:link.color-inherit,
:visited.color-inherit {
  color: inherit;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.width-100percent {
  width: 100% !important;
}
